@media (prefers-color-scheme: light) {
    * {
        color: black;
    }
    body {
        background-color: #F8F8F8;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: #E0E0E0;
    }
    body {
        background-color: black;
    }
}

body, html {
    height: 100%;
    font-family: site;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

svg {
    width: 100%;
}
